:root {
  --orange: rgb(233, 219, 192);
  --blue: rgb(0, 77, 145);
  --red: rgb(168, 38, 38);
  --green: rgb(68, 142, 146);
  --overlay: rgba(121, 160, 219, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px dotted white;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.link {
  color: inherit;
  text-decoration: none;
}

input {
  color: var(--bg);
}

body {
  background-color: var(--orange);
  color: var(--blue);
}

section {
  background-color: var(--overlay);
  border-radius: .25rem;
  padding: .25rem;
}

#root {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 100vh;
  padding: .25rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
  gap: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  height: max-content;
}

footer p {
  align-self: center;
}

.item {
  display: grid;
  gap: .25rem;
  align-items: baseline;
  grid-template-columns: 6rem repeat(4, 1fr);
}

.list-section {
  flex: 1;
}

.list {
  overflow-y: hidden;
}