:root {
  --blue: rgb(85, 124, 140);
  --green: rgb(85, 196, 201);
  --yellow: rgb(239, 212, 128);
  --orange: rgb(248, 150, 108);
  --red: rgb(242, 127, 138);
  --black: rgb(24, 15, 13);
  --overlay: rgba(121, 160, 219, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px dotted white; */
}

ul {
  list-style: none;
  display: flex;
  gap: .5rem;
}

#items {
  flex-direction: column;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.link {
  color: inherit;
  text-decoration: none;
}

form {

  & label,
  legend {
    font-variant: small-caps;
  }

  & input {
    background-color: var(--yellow);
    color: var(--blue);
    border: none;
    border-radius: .35rem;

    &:focus {
      outline: none;
    }
  }
}

button {
  border-radius: .5rem;
  background-color: var(--green);
  transition: 1s background-color;
  border: none;
  padding: 0 .5rem;

  &:hover {
    background-color: var(--orange);
  }
}

body {
  background-color: var(--orange);
  color: var(--yellow);
}

section {
  background-color: var(--blue);
  border-radius: .25rem;
  padding: .25rem;
}

#root {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 100vh;
  padding: .25rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
  gap: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  height: max-content;

  & p {
    align-self: center;
  }
}

.item {
  display: grid;
  gap: .25rem;
  align-items: center;
  grid-template-columns: 10rem 4rem repeat(3, 1fr) max-content;
  outline: 1px solid var(--green);
  border-radius: .5rem;
  padding: .25rem;
}

.list-section {
  flex: 1;
}

.list {
  overflow-y: hidden;
  padding: .25rem;
}

.item-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1rem;

  & h2 {
    grid-column: 1 / -1;
  }

  & fieldset {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
  }

  & input {
    margin: 0 .5rem;
  }
}

#budget-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}